.container{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#video{
  border-radius: 0.5rem;
}
.btns{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.btns button{
  border: none;
  padding: 0.3rem;
  background-color: tomato;
  font-weight: 600;
  border-radius: 5px;
  color: aliceblue;
}

#selectMick, #selectCam{
  padding: 5px;
  background-color: aqua;
  border: 2px solid gray;
  border-radius: 5px;
}

#shareScreen{
  border: none;
  width: 100%;
  padding: 0.5rem;
  background-color: aqua;
  border-radius: 5px;
  font-weight: 600;
}